body {
  background-color: #557AA1;
  background-size: cover;
  // background-position: center;
  // height: 100vh;

}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  &.primary {
    align-items: center;
  }
}
